<html>
  <head>
    <link rel="stylesheet" href="/Osterei/assets/css/value.scss">
    <style>
      div {
        background-color: khaki;
        width: 300px;
        border: 15px solid green;
        padding: 50px;
        margin: 20px;
      }
    </style>
  </head>
  <body>
<h1>The iframe element</h1>
<iframe src="https://onedrive.live.com/embed?cid=76B1B5FDB512A2EA&resid=76B1B5FDB512A2EA%2153637&authkey=AON_FK8V5HXyFVg" <br>
    width="98" height="120" frameborder="0" scrolling="no"></iframe>
    <!--{{ content }}-->
      <div class="box">
        sportish
      </div>
    <a href="https://pastebin.com/L5VWsR1R" class="btn">Skalarfileds semioptional MyFiledList class</a>
    <a href="https://pastebin.com/MC8MeM8Y" class="btn">MyLabel Classfile</a>
    <a href="https://pastebin.com/RJkp5XBE" class="btn">MyButton Classfile</a>
    <a href="https://pastebin.com/UrC2yUKh" class="btn">MyListBox Classfile</a>
  </body>
</html>
