<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>HornElemente</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
<link rel="stylesheet" href="{{ site.baseurl }} /Osterei/assets/css/BackgroundcolorApfelkuchen.css">	      
<link rel="stylesheet" href="{{ site.baseurl }} /Osterei/assets/css/normalize.css">
<link rel="stylesheet" href="{{ site.baseurl }} /Osterei/assets/css/cayman.css">
<link rel="stylesheet" href="/Osterei/assets/css/DerivedButtonClass.css">
<link rel="stylesheet" href="/Osterei/assets/css/OhoKnopf.css">
<link rel="stylesheet" href="/Osterei/assets/css/Button.css">	    
    </head>

<body>
<!--{{ content }}-->
    <section class="page-header">
  <h1 class="project-tagline">https://ledlightjungledstefan.github.io/Osterei/blog</h1>	    
	    <p>Mein Blog(Mit dem Blog)</p>	    
<img src="/Osterei/assets/bw ohne ziel.bmp" alt="">


</section>
    <section class="main-content">

  <h2></h2>
    </section>
    <a href="https://pastebin.com/u/ledlight/1/tuyKLgg4" class="btn">Die Formklassendatei</a>

    <h3>For the pastebin raw text without script functions press on the pastebin site <br>
 the raw button.</h3>
    <p>    
    Maybe a frontend function ctrl plus a is available. Ctrl plus a is a function <br>
 to mark a raw text.
    Also maybe a double click function with a click device can be pressed. For <br>
 further marking a shift
    key can be pressed and the second key can be an arrow key to the rigth. Hold <br>
    the shift key until the shift key can be released.</p>
    <h3><br></h3>
      <p>https://github.com/ledlightjungledStefan/Osterei<br>
	/RukolaSeiteEins</p>
	  <a href="/Osterei/assets/säijmstoul.pdf" class="btn">Windowssurface bitmaps in apdf file</a>
	  <a href="https://docs.microsoft.com/en-us/dotnet/desktop/winforms/how-to-create-a-windows-forms-application-from-the-command-line?view=netframeworkdesktop-4.8" class="btn">How to: Create a Windows Forms application from the command line</a>


	<a href="https://ledlightjungledstefan.github.io/Osterei/solarplexus" class="Knopf">reach</a>	
</body>
</html>
