<html>
  <head>
    <link rel="stylesheet" href="/Osterei/assets/css/value.scss">
    <style>
      div {
        background-color: khaki;
        width: 300px;
        border: 15px solid green;
        padding: 50px;
        margin: 20px;
      }
    </style>
  </head>
  <body>
<h1>The iframe element</h1>
<iframe src="https://www.youtube.com/watch?v=gTKsHwqaIr4" width="320" <br />
    height="240" frameborder="0" scrolling="no" <br />
    allowfullscreen title="Moldau Kompozicjion M"></iframe>
    <!--{{ content }}-->
      <div class="box">
        sportish
      </div>
  </body>
</html>
