<html>
  <head>
    <link rel="stylesheet" href="/Osterei/assets/css/value.scss">
    <style>
      div {
        background-color: khaki;
        width: 300px;
        border: 15px solid green;
        padding: 50px;
        margin: 20px;
      }
    </style>
  </head>
  <body>
<h1> The embed element </h1>
      <embed type="video/webm" src="https://1drv.ms/v/s!AuqiErX9tbF2g6MEwdcy5SOFe78xBA" width="400" height="300">
    <!--{{ content }}-->
      <div class="box">
        sportish
      </div>
  </body>
</html>
