<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>HelpAccess</title>
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<meta name="theme-color" content="#157878">
<link rel="stylesheet" href="{{ site.baseurl }} /Osterei/assets/css/BackgroundcolorApfelkuchen.css">
<link rel="stylesheet" href="{{ site.baseurl }} /Osterei/assets/css/normalize.css">
<link rel="stylesheet" href="{{ site.baseurl }} /Osterei/assets/css/cayman.css">
<link rel="stylesheet" href="/Osterei/assets/css/DerivedButtonClass.css">
<link rel="stylesheet" href="/Osterei/assets/css/OhoKnopf.css">
<link rel="stylesheet" href="/Osterei/assets/css/Button.css">
    </head>
<body>
<!--{{ content }}-->
<section class="page-header">
<h1 class="project-tagline">TagLinie PRE</h1>
</section>
<section class="main-content">
<h2>main_spot_tension</h2>
<p><pre>
Text in a pre element
is displayed in a fixed-width
font, and it preserves
both      spaces and
line breaks
</pre></p>
</section>
<%
response.write("My first ASP script!")
%>
</body>
</html>
