<!DOCTYPE html>
<html lang="{{ site.locale }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
      <link rel="stylesheet" href="{{ site.baseurl }} /Osterei/assets/css/normalize.css">
        <link rel="stylesheet" href="{{ site.baseurl }} /Osterei/assets/css/cayman.css">
          <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  </head>
<body>
  <section class="main-content">
  {% include navigation.html %}
  </section>
{% include page-header.html %}
  {% for post in site.posts %}
   <h2><a>{{ post.title }}</a></h2>
          {{ post.excerpt }}
  {% endfor %}
  {{ content }}
  {% include page-footer.html %}
</body>
</html>
