<html>
  <head>
<title>Project or Site name</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#157878">
<link rel="stylesheet" href="{{ site.baseurl }}/Osterei/assets/css/caymantemplatechanges/antemplate.css">
<link rel="stylesheet" href="{{ site.baseurl }}/Osterei/assets/css/caymantemplatechanges/visibility.css">
<!--link rel="stylesheet" href="/css/default.css"-->

  </head>
  <body>
<section class="page-header">
<h1 class="project-name">Project or Site name</h1>
<h2 class="project-tagline">A responsive theme for your project on Github Pages</h2>
</section>
<section class="main-content">
<h1>Blog Posts Site Case</h1>
</section>
    {{ content }}

  </body>
</html>
