---
title: Karteikartenreiter
almdudler: PI Jača oder ein Pendel
---
<!DOCTYPE html>
<html lang="de-AT">
    <head>
        <title>{{ page.title }}</title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
                <meta name="theme-color" content="#157878">
        <link rel="stylesheet" href="{{ site.baseurl }} /Osterei/assets/css/main.css" />
            <link rel="stylesheet" href="{{ site.baseurl }} /Osterei/assets/css/normalize.css">
                <link rel="stylesheet" href="{{ site.baseurl }} /Osterei/assets/css/cayman.css">
        <style>
            .element {
                position: absolute;
                left: 400px;
                top: 500px;}}
        </style>        
    </head>
<body>
    
<section class="page-header">
    <h1 class="project-name">sleeveSlang</h1>
        <h2 class="project-tagline">{{ page.almdudler }}</h2>    
</section>

<a href="https://github.com/pages-themes/cayman/zipball/master" class="btn">Cayman zipfile</a>
<a href="/Osterei/assets/FirstStepsForRubyGemInstallation.pdf" class="btn">SomeRubyLines</a>
<a href="/Osterei/assets/SET INSTRUCTIONS - GERMAN.pdf" class="btn">SET The card game instructions</a>

        <img class="CHEW" src="/Osterei/assets/4kirbs.png">
<p>123456790
<br>    
ABCDEFGHIJKLMNOPQRSTUVWXYZ
<br>    
abcdefghijklmnopqrstuvwxyz--------------------px500/px450</p>

    <p>
        let's refuse that i know english
        let's ignite i do not follow
        let's say ramen soup is not a heavy ship
    </p>
    
<textarea rows="4" cols="50" class="element">
    With absolute positioning, an element can be placed anywhere on a page.
    The heading below is placed 100px from the left of the page and 150px from the top of the page.
</textarea>
    
<textarea class="element">
    <h3>databindings ist gleich lesezeichen in visual basic</h3>
    <pre>
    Mit visual basic dot net versuche ich weiter das drei Tore Problem verstehen zu können im Stand
    der Sprache mit der ich meine Gesundheit zusammen ziehen kann.
    Buchstaben sind wie Blätter im Wind. Erinnerungen und Aufzeichnungen können sehr individuell
    sein. Das Immunsystem unterdrücken ist nicht eine passende Grenzpolitik und auch keine
    passende Genpolitik. Mangelerscheinungen werden in den breitgetretenen Massenmedien nicht
    alle aufgezählt sondern nach möglichen Wichtigkeiten gereiht. Ich lebe in Baden und habe
    nicht zum Satz "Sag niemals nie" keine eigene Meinung. (Respektive ja ich habe eine eigene Meinung)
    Eine Mangelerscheinung kann auch sein, dass ich mein Gleichgewicht verliere und zum Flughafen gehe
    um dort die Nahrungsmittel an mich zu reisen. Sehr unwahrscheinlich aber möglich.
    Doritos crash course 2.0
    Ein Feld kann an erster zweiter oder dritter Stelle gereiht sein. Mit visual basic dot net gibt es
    die Wahrscheinlichkeit, dass Hilfe an zweiter Stelle stehen kann, und Text von erster Stelle
    in Schnittflächen eingefügt werden kann.
    Eine Feldliste ist schon eine Liste und auch mit dem Eintrag in eine Schnittfläche ein Vokal
    ein Vokal und ein Konsonant ein Konsonant. Sprich in einem Rechteck währe ein Inhalt datasource
    und ein Name des Inhaltes der Dimensionsname einer Feldliste.
    Erinnerungen sind lebendig im Sinne von zwei Einträge einer oder zwei ListBoxen können geändert
    werden. Wenn die Änderungen rückbezüglich sind und auch die Elektrizität ist im Teilbereich
    der Rückkopplungen ist für weiter Erinnerungsmöglichkeiten wahlweise zum ändern von Gewohnheiten
    oder zum Sammeln von Erfahrungen respektive Siefahrungen für Eigenschaften von Strukturen mit
    bildungen der Wortsammlungen des Lesezeichen databindings.
    </pre>
</textarea>
    
<!--section class="content">
    {{ content }}
</section-->
</body>
</html>
