---
title: Karteikartenreiter
almdudler: PI Jača oder ein Pendel
---
<!DOCTYPE html>
<html lang="de-AT">
    <head>
        <title>{{ page.title }}</title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
                <meta name="theme-color" content="#157878">
        <link rel="stylesheet" href="{{ site.baseurl }} /Osterei/assets/css/main.css" />
            <link rel="stylesheet" href="{{ site.baseurl }} /Osterei/assets/css/normalize.css">
                <link rel="stylesheet" href="{{ site.baseurl }} /Osterei/assets/css/cayman.css">
    </head>
<body>
    
<section class="page-header">
    <h1 class="project-name">sleeveSlang</h1>
        <h2 class="project-tagline">{{ page.almdudler }}</h2>    
</section>

<a href="https://github.com/pages-themes/cayman/zipball/master" class="btn">Cayman zipfile</a>
<a href="/Osterei/assets/FirstStepsForRubyGemInstallation.pdf" class="btn">SomeRubyLines</a>
<a href="/Osterei/assets/SET INSTRUCTIONS - GERMAN.pdf" class="btn">SET The card game instructions</a>

        <img class="CHEW" src="/Osterei/assets/4kirbs.png">
<p>123456790
<br>    
ABCDEFGHIJKLMNOPQRSTUVWXYZ
<br>    
abcdefghijklmnopqrstuvwxyz--------------------px500/px450</p>
    <svg height="150" width="400">
  <defs>
    <linearGradient id="grad2" x1="0%" y1="0%" x2="0%" y2="100%">
      <stop offset="0%" style="stop-color:rgb(255,0,0);stop-opacity:1" />
      <stop offset="100%" style="stop-color:rgb(255,255,0);stop-opacity:1" />
    </linearGradient>
  </defs>
  <ellipse cx="200" cy="70" rx="85" ry="55" fill="url(#grad2)" />
</svg>
<!--section class="content">
    {{ content }}
</section-->
</body>
</html>
